{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static "css/introduction_style.css" %}">
<link rel="stylesheet" href="{% static "css/nav_style.css" %}">
{% endblock styles %}

{% block content %}

    {% if user.is_authenticated %}
        {% include "includes/auth_navbar.html" %}
        <div class="container">
            <h1 class="title">Голосовий асистент</h1>
            <button class="btn btn-start" id="btn-link" target_url="{% url "assistant:index" %}">Почати роботу</button>
        </div>

    {% else %}
        {% include "includes/not_auth_navbar.html" %}

        <div class="container">
            <h1 class="title">Голосовий асистент</h1>
        </div>
    {% endif %}
    
{% endblock content %}

{% block javascript %}
<script src="{% static "js/profile_menu.js" %}"></script>
{% endblock javascript %}