{% load static %}

<nav class="nav-bar">
    <div class="logo-container">
        <a href="{% url "introduction:index" %}" class="logo-link">
            <img src="{% static "img/image.png" %}" alt="logo" class="img-logo">
        </a>
    </div>

    <div class="right-side" id="profile">
        <div class="profile" id="profile-part">
            {% if user.image %}
            <img src="{{ user.image.url }}" alt="Аватар" class="profile-img profile-part">
            {% else %}
            <img src="{% static "img/profile_photo_not_found.png" %}" alt="" class="profile-img profile-part">
            {% endif %}
            <p class="username profile-part">{{ user.username }}</p>
            <img src="{% static "img/triangle.png" %}" alt="" class="triangle profile-part" id="triangle">
        </div>
        <div class="profile-menu" id="profile-menu">
            <a href="{% url "user:profile" %}" class="link profile-link">Профіль</a>
            {% if user.is_admin or user.is_staff %}
            <a href="{% url "admin:index" %}" class="link profile-link">Адмін панель</a>
            {% endif %}
            <a href="{% url "user:logout" %}" class="link profile-link">Вийти</a>
        </div>
    </div>
</nav>