{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static "css/registration_style.css" %}">
{% endblock styles %}

{% block content %}

<div class="container">
    <h1 class="title">Реєстрація</h1>
    <form action="{% url "user:registration" %}" class="form-registration" method="POST">
        {% csrf_token %}
        <div class="fields-row">
            <div class="field-wrapper">
                <label for="id_username" class="label">Логін</label>
                <input type="text" class="field" id="id_username" name="username" 
                value="{% if form.username.value %}{{ form.username.value }}{% endif %}"
                placeholder="Логін" required>
                {% if form.username.errors %}
                <div class="error">
                    {{ form.username.errors }}
                </div>
                {% endif %}
            </div>

            <div class="field-wrapper">
                <label for="id_email" class="label">Пошта</label>
                <input type="email" class="field" id="id_email" name="email" 
                value="{% if form.email.value %}{{ form.email.value }}{% endif %}"
                placeholder="Пошта" required>
                {% if form.email.errors %}
                <div class="error">
                    {{ form.email.errors }}
                </div>
                {% endif %}
            </div>
        </div>

        <div class="fields-row">
            <div class="field-wrapper">
                <label for="id_first_name" class="label">Ім'я</label>
                <input type="text" class="field" id="id_first_name" name="first_name" 
                value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}"
                placeholder="Ім'я" required>
                {% if form.first_name.errors %}
                <div class="error">
                    {{ form.first_name.errors }}
                </div>
                {% endif %}
            </div>

            <div class="field-wrapper">
                <label for="id_last_name" class="label">Прізвище</label>
                <input type="text" class="field" id="id_last_name" name="last_name" 
                value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}"
                placeholder="Прізвище" required>
                {% if form.last_name.errors %}
                <div class="error">
                    {{ form.last_name.errors }}
                </div>
                {% endif %}
            </div>
        </div>

        <div class="fields-row">
            <div class="field-wrapper">
                <label for="id_token" class="label">Токен</label>
                <input type="text" class="field field-openAI" id="id_token" name="token" 
                value="{% if form.token.value %}{{ form.token.value }}{% endif %}"
                placeholder="Токен" required>
                {% if form.token.errors %}
                <div class="error">
                    {{ form.token.errors }}
                </div>
                {% endif %}
            </div>
        </div>

        <div class="fields-row">
            <div class="field-wrapper">
                <label for="id_password1" class="label">Пароль</label>
                <input type="password" class="field" id="id_password1" name="password1" placeholder="Пароль" required>
                {% if form.password1.errors %}
                <div class="error">
                    {{ form.password1.errors }}
                </div>
                {% endif %}
            </div>

            <div class="field-wrapper">
                <label for="id_password2" class="label">Підтвердження паролю</label>
                <input type="password" class="field" id="id_password2" name="password2" placeholder="Підтвердження паролю" required>
                {% if form.password2.errors %}
                <div class="error">
                    {{ form.password2.errors }}
                </div>
                {% endif %}
            </div>
        </div>

        <button type="submit" class="btn btn-register">Зареєструватися</button>
    </form>
</div>

{% endblock content %}
